body {
    background-image: url("../assets/backgrounds/descBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

#generalContainer{
    display: flex;
    padding: 7% 5% 5% 5%;
}

#container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.650);
    border-radius: 5px;
}

#titleRecipeContainer{
    padding: 3% 5% 3% 5%;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#imageAndDescContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

#containerLeft{
    padding-left: 5%;
}

#containerRight{
    padding-right: 5%;
    width: 62%;
}

#descContainer{
    text-align: justify;
    text-justify: inter-word;
}

#btnsContainer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#btnsSubSubContainer{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

#btnsSubContainer{
    display: flex;
    flex-direction: row;
}

#btnsPanel{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.btnAudioVideo{
    display: flex;
    flex-direction: column;
    color:white;
    background-color: gray;
    margin-right: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

#btnPlay{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    color: white;
}

#iconPlay{
    font-size: 3em
}

#infosContainer{
    padding: 3% 5% 3% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.infosSubContainer{
    background-color: white;
    width: 300px;
    height: 300px;
}