@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.logoTitle{
    font-family: 'Lobster', cursive;
    font-size: 3em;
    position: absolute;top: 40px; left: 40px;
    text-decoration: none;
    color:black;
}

.logoTitle a{
    text-decoration: none;
    color:black;
}

.logoTitle a:visited{
    color:black;
}

body {
    background-image: url("../assets/backgrounds/background-gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
