@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');

body {
    font-family: 'Kadwa', serif;
}

.containerPage {
    padding: 30px;
}

.containerViewRecipe {
    background-color: rgba(255, 255, 255, 0.650);
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    margin-top: 100px;
}

.videoSpace {
    height: 300px;
    width: 500px;
    position: absolute;
    right: 40px;
    bottom: 80px;
    background-color: rgba(131, 163, 165, 0.349);
}

.recipeSteps {
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding: 40px;
    width: 100%;
}

.titleStepSigns {
    display: flex;
    flex-direction: row;
}

.titleStep {
    font-size: 2.5em;
}

.subTitleStep {
    font-size: 1.8em;
}

.containerRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.parameterBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    padding: 10px;
    background-color: rgba(131, 163, 165, 0.349);
    right: 40px;
    bottom: 390px;
    width: 480px;
    border-radius: 6px;
}

.btnParameters {
    border-radius: 50%;
    background-color: #5D97D1;
    color:white;
    border:0;
}