@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');

body {
    /* background-image: url("../assets/backgrounds/recipeBg.png");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgb(197, 238, 248);
    height: 100%;
    font-family: 'Kadwa', serif;
}

.containerPage {
    padding: 30px;
}

.containerViewRecipe {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.videoSpace {
    height: 300px;
    width: 500px;
    position: absolute;
    right: 40px;
    bottom: 80px;
    background-color: rgba(140, 140, 184, 0.644);
}

.recipeSteps {
    background-color: rgb(0, 180, 204);
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding: 40px;
    width: 100%;
}

.titleStepSigns {
    display: flex;
    flex-direction: row;
}

.titleStep {
    font-size: 2.5em;
}

.subTitleStep {
    font-size: 1.8em;
}

.containerRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.parameterBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    padding: 10px;
    background-color: rgba(198, 198, 255, 0.644);
    right: 40px;
    bottom: 390px;
    width: 480px;
    border-radius: 6px;
}