<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/descStyle.css">
</head>
<body id="generalContainer">
    
    <div id="descContainer">
        <div id="titleRecipeContainer">Recette de ramens teh les fous</div>
        <div id="imageAndDescContainer">
            <div id="containerLeft">
                <!-- Image -->
            </div>
            <div id="containerRight">
                <div id="descContainer">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laboriosam earum dolores sit ducimus, perferendis modi sequi fuga cumque ipsa laudantium aut, illo commodi consectetur ut omnis quod, voluptatem iure.
                </div>
                <div id="btnsContainer">
                    <!-- btns -->
                </div>
            </div>
        </div>
        <div id="infosContainer">
            <!-- Ingredients, ustensiles, temps -->
        </div>
    </div>
        
   
    
</body>
</html>