<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/descStyle.css">
    <link rel="stylesheet" href="../css/generalStyle.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body id="generalContainer">

    <div id="container">
        <div id="titleRecipeContainer">Recette de ramens teh les fous</div>
        <div id="imageAndDescContainer">
            <div id="containerLeft">
                <img src="/assets/images/ramen.jpg" alt="Ramens" width="auto" height="200px">
            </div>
            <div id="containerRight">
                <div id="descContainer">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laboriosam earum dolores sit ducimus,
                    perferendis modi sequi fuga cumque ipsa laudantium aut, illo commodi consectetur ut omnis quod,
                    voluptatem iure.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laboriosam earum dolores sit ducimus,
                    perferendis modi sequi fuga cumque ipsa laudantium aut, illo commodi consectetur ut omnis quod,
                    voluptatem iure.
                </div>
                <div id="btnsContainer">
                    <div id="btnsSubContainer">
                        <div id="btnsSubSubContainer">
                            <div>
                                <span>Mode mains-libres</span>
                            </div>
                            <div id="btnsPanel">
                                <button type="button" class="btnAudioVideo">
                                    <span class="material-symbols-outlined">
                                        volume_up
                                    </span>
                                    Audio
                                </button>
                                <button type="button" class="btnAudioVideo">
                                    <span class="material-symbols-outlined">
                                        videocam
                                    </span>
                                    Vidéo
                                </button>
                            </div>
                        </div>
                        <button id="btnPlay" type="button" class="btnAudioVideo">
                            <span id="iconPlay" class="material-symbols-outlined">
                                play_arrow
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="infosContainer">
            <!-- Ingredients -->
            <div class="infosSubContainer">
                <span>Ingrédients</span>
            </div>
            <!-- Ustensiles -->
            <div class="infosSubContainer">
                <span>Ustensiles</span>
            </div>
            <!-- Temps -->
            <div class="infosSubContainer">
                <span>Temps</span>
            </div>
        </div>
    </div>



</body>

</html>