<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Recipe</title>
    <link rel="stylesheet" href="../css/recipeStyle.css">
    <link rel="stylesheet" href="../css/generalStyle.css">
</head>

<body>
    <div class="containerPage">
        <div class="logoTitle">QuoiCookBae</div>
        <div class="containerViewRecipe">
            <div class="recipeSteps">
                <div class="titleStep">Etape 1:</div>
                <div class="subTitleStep">Enrober le donut sucré au sucre avec du sucre</div>
            </div>
            <div class="containerRight">
                <div class="parameterBtns">
                    <span class="material-symbols-rounded">
                        volume_off
                    </span>
                    <span class="material-symbols-rounded">
                        videocam
                    </span>
                    <span class="material-symbols-rounded">
                        mic
                    </span>
                </div>
                <div class="videoSpace">Video</div>
            </div>


        </div>
</body>

</html>